<!DOCTYPE html>
<html lang="ja" ng-app="boketeWeb" id="ng-app" class="ng-app:boketeWeb" xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" xmlns:fb="http://ogp.me/ns/fb#">
<head>
  <meta charset="utf-8">
  <title>【ボケ】手こ - ボケて（bokete）</title>

  <meta property="fb:app_id" content="271488449637184" />
  <meta property="og:title" content="手こ" />
  <meta property="og:url" content="http://bokete.jp/boke/28489621" />
  <meta property="og:image" content="http://d2dcan0armyq93.cloudfront.net/photo/odai/400/c6f0f263b1f9d4f4619c8d8ca9a76fcb_400.jpg" />
  <meta property="og:site_name" content="ボケて（bokete）" />
  <meta property="og:description" content="写真で一言「ボケて」" />
  <meta property="og:type" content="article" />
  <!-- ogp of al -->
  <meta property="al:ios:url" content="bokete://top" />
  <meta property="al:ios:app_store_id" content="563446587" />
  <meta property="al:ios:app_name" content="ボケて" />
  <meta property="al:android:url" content="bokete://top" />
  <meta property="al:android:app_name" content="ボケて" />
  <meta property="al:android:package" content="jp.bokete.android" />
  <meta property="fb:app_id" content="271488449637184" />
  <meta property="og:type" content="bokete-photo:boke" />
  <!-- /ogp of al -->
  <meta name="twitter:card" content="photo" />
  <meta name="twitter:site" content="@boketejp" />
  <meta name="twitter:creator" content="@boketejp" />
  <meta name="twitter:title" content="手こ" />
  <meta name="twitter:description" content="写真で一言 ボケて（bokete）" />
  <meta name="twitter:url" content="http://bokete.jp/boke/28489621" />
  <meta name="twitter:image" content="http://d2dcan0armyq93.cloudfront.net/photo/odai/400/c6f0f263b1f9d4f4619c8d8ca9a76fcb_400.jpg" />
  <meta name="twitter:image:width" content="400" />
  <meta name="twitter:image:height" content="391" />
  <meta name="twitter:app:id:iphone" content="563446587" />
  <meta name="twitter:app:id:googleplay" content="jp.bokete.android" />
  
  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="stylesheet" href="/css/style.css?000002" />
  <script type="text/javascript" src="//www.googletagservices.com/tag/js/gpt.js"></script>
  <script type="text/javascript">
    googletag.cmd.push(function() {
        googletag.defineSlot('/32355547/PC_footer_big_728_90', [728, 90],
        'div-gpt-ad-1393774713987-0').addService(googletag.pubads());
        googletag.defineSlot('/32355547/PC_inline_rectangle1_300_250', [300,
        250], 'div-gpt-ad-1393774713987-1').addService(googletag.pubads());
        googletag.defineSlot('/32355547/PC_inline_rectangle2_300_250', [300,
        250], 'div-gpt-ad-1393774713987-2').addService(googletag.pubads());
        googletag.defineSlot('/32355547/PC_odai_rectangle_l1_300_250', [300,
        250], 'div-gpt-ad-1393774713987-3').addService(googletag.pubads());
        googletag.defineSlot('/32355547/PC_odai_rectangle_l2_300_250', [300,
        250], 'div-gpt-ad-1393774713987-4').addService(googletag.pubads());
        googletag.defineSlot('/32355547/PC_odai_rectangle_r1_300_250', [300,
        250], 'div-gpt-ad-1393774713987-5').addService(googletag.pubads());
        googletag.defineSlot('/32355547/PC_odai_rectangle_r2_300_250', [300,
        250], 'div-gpt-ad-1393774713987-6').addService(googletag.pubads());
        googletag.defineSlot('/32355547/PC_odaidetail_rectangle_l1_300_250',
        [300, 250], 'div-gpt-ad-1393774713987-7').addService(googletag.pubads());
        googletag.defineSlot('/32355547/PC_side_rectangle1_300_250', [300,
        250], 'div-gpt-ad-1393774713987-8').addService(googletag.pubads());
        googletag.defineSlot('/32355547/PC_side_rectangle2_300_250', [300,
        250], 'div-gpt-ad-1393774713987-9').addService(googletag.pubads());
        googletag.defineSlot('/32355547/PC_top_side_rectangle1_300_250', [300,
        250], 'div-gpt-ad-1393774713987-10').addService(googletag.pubads());
        googletag.defineSlot('/32355547/PC_underboke_rectangle1_300_250',
        [300, 250], 'div-gpt-ad-1393774713987-11').addService(googletag.pubads());
        googletag.defineSlot('/32355547/PC_underboke_rectangle2_300_250',
        [300, 250], 'div-gpt-ad-1393774713987-12').addService(googletag.pubads());
        googletag.pubads().enableSingleRequest();
        googletag.enableServices();
    });
  </script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-5620432-2', 'auto');
    ga('send', 'pageview');
  </script>
</head>
<body ng-cloak>

<div class="fixed">
  <div id="top-bar" class="top-bar">
    <div id="top-navi">
      <ul class="title-area">
        <li class="name">
          <h1>
            <a href="/" target="_self" title="ボケて（bokete）">
              <img src="/images/logo.png" alt="ロゴ" />
            </a>
          </h1>
        </li>
      </ul>


      <div class="top-bar-section">
        <ul class="left">
          <li><a href="/boke/hot" target="_self" class="top-bar-active-boke">ボケ</a></li>
          <li><a href="/odai" target="_self" class="">お題</a></li>
          <li><a href="/user_ranking/boke/" target="_self" class="">職人</a></li>
        </ul>
        <ul class="right">
          <li>
          </li>
          <li><a href="/register" target="_self">新規登録</a></li>
          <li><a href="/login" target="_self">ログイン</a></li>
          <li><a href="/about/whats" target="_self" class="">ヘルプ</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="wrapper">
  <div id="container">
    <div id="header-news">
      <span id="header-news-catch">
        <a href=""></a>
      </span>
      <span id="header-news-stats">
       ボケ投稿数 <b>24,787,634</b>件&nbsp;
       お題投稿数 <b>1,220,298</b>件
       &nbsp;
        <a ng-href="/safe_mode" class="safe-mode-btn"><i class="fa fa-lg fa-toggle-on"></i>&nbsp; safe on</a>
      </span>
    </div>
<div id="main-container">
  

<div class="content-menu">
  <ul class="content-menu-list inline-list">
    <li class=""><a href="/boke/recent" target="_self">新着</a></li>
    <li class=""><a href="/boke/hot" target="_self">注目</a></li>
    <li class=""><a href="/boke/popular" target="_self">人気</a></li>
    <li class=""><a href="/boke/pickup" target="_self">ピックアップ</a></li>
    <li class=""><a href="/boke/select" target="_self">セレクト</a></li>
    <li class=""><a href="/boke/legend" target="_self">殿堂入り</a></li>
  </ul>
</div>

<div id="content"
  class="content-boke
    
    ">
  <div class="boke">
  <div class="boke-photo">
  <div class="boke-photo-content">
    <a href="/odai/1215847">
      <img src="//d2dcan0armyq93.cloudfront.net/photo/odai/400/c6f0f263b1f9d4f4619c8d8ca9a76fcb_400.jpg" alt="手こ" />
    </a>
    <div class="boke-photo-meta">
      <a href="/user/eregansu"><span class="fa fa-camera" title="photo by"></span> photo by ナイファー</a>
        &nbsp;
      <a href="/user/eregansu"><span class="fa fa-picture-o" title="odai by"></span> odai by ナイファー</a>
    </div>
  </div><!-- boke photo content -->
</div><!-- boke photo -->
<div class="boke-text">手こ</div>

  <div class="boke-meta">
    <div class="boke-information">
      <div class="boke-information-row">
        <div class="boke-stars">
          <a href="/boke/28489621" target="_self">
            <i class="fa fa-star" style="color:#ebbf2a;"></i> 9,876
          </a>
        </div>
        <div class="boke-information-label">
          <a href="/boke/28489621" target="_self">3日くらい前</a>
        </div>
        <span class="boke-share-social" data-toggle="tooltip" data-placement="bottom" title="Facebookでシェア">
          <a href="http://www.facebook.com/sharer.php?src=bm&u=http%3A%2F%2Fbokete.jp%2Fboke%2F28489621&t=%E6%89%8B%E3%81%93%20%23%E3%83%9C%E3%82%B1%E3%81%A6" target="blank" onclick="window.open(this.href, '', 'width=550,height=300'); return false;">
            <i class="fa fa-facebook fa-2x"></i>
          </a>
        </span>
        <span class="boke-share-social" data-toggle="tooltip" data-placement="bottom" title="Twitterにツイート">
          <a href="https://twitter.com/intent/tweet?text=%E6%89%8B%E3%81%93%20%23%E3%83%9C%E3%82%B1%E3%81%A6&amp;url=http%3A%2F%2Fbokete.jp%2Fboke%2F28489621" target="blank" onclick="window.open(this.href, '', 'width=550,height=300'); return false;">
            <i class="fa fa-twitter fa-2x"></i>
          </a>
        </span>
        <span class="boke-share-social" data-toggle="tooltip" data-placement="bottom" title="お題を通報">
          <a href="/odai/1215847/report">
            <i class="fa fa-warning fa-2x"></i>
          </a>
        </span>
        <span class="boke-share-social" data-toggle="tooltip" data-placement="bottom" title="画像をダウンロード">
          <a data-toggle="modal" data-target="#shareModal28489621">
            <i class="fa fa-external-link fa-2x"></i>
          </a>
        </span>
      </div>
    </div>
         <div ng-controller="BokeModalController" >
      <div class="modal fade" id="shareModal28489621" tabindex="-1" role="dialog" aria-labelledby="shareModalLabel" aria-hidden="true">
        <div class="modal-dialog" ng-init="bokeID = 28489621;" data-boke-id="28489621">
          <div class="modal-content">
            <div class="modal-body share-modal form-group">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <ul>
                <li class="boke-modal-ss-wrapper">
                  <p class="text-center">
                    <a href="http://stamp.bokete.jp/28489621.png" target="_blank">
                      <img class="boke-modal-ss-image" title="手こ"/>
                    </a>
                  </p>
                </li>
                <li>
                  <label>ダウンロードURL</label>
                  <input type="text" class="form-control" value="http://stamp.bokete.jp/28489621.png" />
                </li>
                <li>
                  <label>Blogで紹介する</label>
                  <input type="text" class="form-control" value='<a href="http://bokete.jp/boke/28489621"><img src="http://stamp.bokete.jp/28489621.png" title="手こ"></a>' />
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
   </div>

      <div class="boke-information-row" ng-controller="RatingController"
           ng-init="myRating=0;showCommentForm=false;showActionParts=false;
           ;
           comment=''">
        <div class="boke-rate">
          <a class="fa fa-times-circle fa-lg boke-rate-times" ng-click="rate(28489621, 0)"></a>
          <span class="boke-rating">
            <a class="fa fa-star-o fa-lg boke-rating-star"
               ng-class="isRated(3)" ng-click="rate(28489621, 3)"
               data-toggle="tooltip" data-placement="bottom" title="ちょーーー面白い！！！"></a>
            <a class="fa fa-star-o fa-lg boke-rating-star"
               ng-class="isRated(2)" ng-click="rate(28489621, 2)"
               data-toggle="tooltip" data-placement="bottom" title="すごく面白い！"></a>
            <a class="fa fa-star-o fa-lg boke-rating-star"
               ng-class="isRated(1)" ng-click="rate(28489621, 1)"
               data-toggle="tooltip" data-placement="bottom" title="面白い！"></a>
          </span>
        </div>
        <!-- /isRated -->

        <div class="comment-action-parts" ng-show="showActionParts">
          <p>このボケは
            <img ng-src="{{ boke_user.icon_url }}" class="user-icon">
            <a ng-href="/user/{{ boke_user.name }}"><b>{{ boke_user.nick }}</b></a> さんのボケです</p>
          <div class="comment-area text-center" ng-show="!showCommentForm && !comment">
            <button ng-click="showForm();" class="btn btn-default">コメントする</button>
          </div>
          <div class="comment-area text-center" ng-show="!showCommentForm && comment">
            <div class="boke-comment-input">
              <form class="form-inline">
                <b>{{ comment }}</b>&nbsp;
                <button ng-click="showForm();" class="btn btn-default">コメントを編集する</button>
              </form>
            </div>
          </div>
          <div class="comment-action">
            <div class="comment-area" ng-show="showCommentForm">
              <div class="row boke-comment-input" style="margin:0 0 0 1em;">
                <label style="margin-top:0.5em;" class="col-sm-2 pull-left">コメント</label>
                <form ng-submit="postComment(28489621);"
                  class="input-group col-sm-9">
                  <input type="text" class="form-control"
                         placeholder="コメントを入力" ng-model="comment">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">送信</button>
                  </span>
                </form>
                <span class="col-sm-1 pull-left">
                  <button type="button" class="close" ng-click="showCommentForm=false;">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                  </button>
                </span>
              </div>
            </div>  
          </div>
        </div>
        <div class="alert alert-danger" ng-show="errorResponse.length > 0" style="margin-top:1em;">
          <ul><li>{{errorResponse}}</li></ul>
        </div>

      </div><!-- boke meta -->
  </div>
</div>

  
  <div class="boke">
    <!-- PC_underboke_rectangle1_300_250 -->
    <div class="content-ad" id="div-gpt-ad-1393774713987-11">
    <script type='text/javascript'>
    googletag.cmd.push(function() {
        googletag.display('div-gpt-ad-1393774713987-11'); });
    </script>
    </div>
  </div>
  <div id="boke-comments" class="comments">
        <div class="comment">
      <div class="comment-content">
        <i class="fa fa-star fa-lg"></i>
        <i class="fa fa-star fa-lg"></i>
        <i class="fa fa-star fa-lg"></i>
        <div class="comment-picture">
          <img src="//d3pb2x7032n52.cloudfront.net/static/images/user_img.gif" alt="Ninja" class="user-icon"/>
        </div>
        <a href="/user/gpzh2">Ninja</a>&nbsp;お前らじゃ役不足だ、まずはオレが…
      </div>
    </div>
    <div class="comment">
      <div class="comment-content">
        <i class="fa fa-star fa-lg"></i>
        <i class="fa fa-star fa-lg"></i>
        <i class="fa fa-star fa-lg"></i>
        <div class="comment-picture">
          <img src="//d3pb2x7032n52.cloudfront.net/static/images/user_img.gif" alt="ハリドリ" class="user-icon"/>
        </div>
        <a href="/user/pau0427">ハリドリ</a>&nbsp;ちょwまかろにwww
      </div>
    </div>
    <div class="comment">
      <div class="comment-content">
        <i class="fa fa-star fa-lg"></i>
        <i class="fa fa-star fa-lg"></i>
        <i class="fa fa-star fa-lg"></i>
        <div class="comment-picture">
          <img src="//bokete-photo-gamma.s3.amazonaws.com/photo/profile/180/5858xx_180.jpg?1422295271" alt="真面目マン" class="user-icon"/>
        </div>
        <a href="/user/5858xx">真面目マン</a>&nbsp;マジシコ
      </div>
    </div>
    <div class="comment">
      <div class="comment-content">
        <i class="fa fa-star fa-lg"></i>
        <i class="fa fa-star-o fa-lg"></i>
        <i class="fa fa-star-o fa-lg"></i>
        <div class="comment-picture">
          <img src="//d3pb2x7032n52.cloudfront.net/static/images/user_img.gif" alt="Tottyy" class="user-icon"/>
        </div>
        <a href="/user/Tottyy">Tottyy</a>&nbsp;右手がそうとしか見えなくなった
      </div>
    </div>
    <div class="comment">
      <div class="comment-content">
        <i class="fa fa-star fa-lg"></i>
        <i class="fa fa-star fa-lg"></i>
        <i class="fa fa-star fa-lg"></i>
        <div class="comment-picture">
          <img src="//d3pb2x7032n52.cloudfront.net/static/images/user_img.gif" alt="おにこんぼー" class="user-icon"/>
        </div>
        <a href="/user/onikon0250">おにこんぼー</a>&nbsp;周りのキラキラしたものは...www
      </div>
    </div>
    <div class="comment">
      <div class="comment-content">
        <i class="fa fa-star fa-lg"></i>
        <i class="fa fa-star fa-lg"></i>
        <i class="fa fa-star fa-lg"></i>
        <div class="comment-picture">
          <img src="//d3pb2x7032n52.cloudfront.net/static/images/user_img.gif" alt="サドマッシ～ン" class="user-icon"/>
        </div>
        <a href="/user/cymupei16">サドマッシ～ン</a>&nbsp;姫のドレスと顔は…小人たちの白く濁った…
      </div>
    </div>
    <div class="comment">
      <div class="comment-content">
        <i class="fa fa-star fa-lg"></i>
        <i class="fa fa-star fa-lg"></i>
        <i class="fa fa-star fa-lg"></i>
        <div class="comment-picture">
          <img src="//d3pb2x7032n52.cloudfront.net/static/images/user_img.gif" alt="SKET" class="user-icon"/>
        </div>
        <a href="/user/sketgundam">SKET</a>&nbsp;薄い本…ってやつだな
      </div>
    </div>
    <div class="comment">
      <div class="comment-content">
        <i class="fa fa-star fa-lg"></i>
        <i class="fa fa-star fa-lg"></i>
        <i class="fa fa-star fa-lg"></i>
        <div class="comment-picture">
          <img src="//d3pb2x7032n52.cloudfront.net/static/images/user_img.gif" alt="虎" class="user-icon"/>
        </div>
        <a href="/user/menndokuse">虎</a>&nbsp;予約がなかなか取れないお姫さま
      </div>
    </div>
    <div class="comment">
      <div class="comment-content">
        <i class="fa fa-star fa-lg"></i>
        <i class="fa fa-star fa-lg"></i>
        <i class="fa fa-star fa-lg"></i>
        <div class="comment-picture">
          <img src="//d3pb2x7032n52.cloudfront.net/static/images/user_img.gif" alt="on" class="user-icon"/>
        </div>
        <a href="/user/rnhmsk">on</a>&nbsp;ひわいwww
      </div>
    </div>
    <div class="comment">
      <div class="comment-content">
        <i class="fa fa-star fa-lg"></i>
        <i class="fa fa-star fa-lg"></i>
        <i class="fa fa-star fa-lg"></i>
        <div class="comment-picture">
          <img src="//d3pb2x7032n52.cloudfront.net/static/images/user_img.gif" alt="hoge166" class="user-icon"/>
        </div>
        <a href="/user/Gokigennet">hoge166</a>&nbsp;せかいめいさくアニメえろほん
      </div>
    </div>

  <div class="pager" ng-controller="CommentPagerController">
    <button class="btn btn-primary btn-long"
            ng-click="showPager(28489621, 2, 'on')">もっと読み込む</button>
  </div>

  </div>
  <hr />
  <div class="other-title">おすすめボケ</div>
  
      <div class="boke-horizon">
        <a href="/boke/28419716" class="photo">
          <img src="//d2dcan0armyq93.cloudfront.net/photo/odai/400/344653cf1464b0ba4379b166735b4990_400.jpg" />
        </a>
        <div class="photo-meta">
          <a href="/user/onikugoya">
            <span class="fa fa-camera" title="photo by"></span>
            hikiniku
          </a>
          &nbsp;
          <a href="/user/onikugoya">
            <span class="fa fa-picture-o" title="odai by"></span>
            hikiniku
          </a>
        </div>
        <div class="text">チャックに挟んだ</div>
        <div class="rating">
          <a href="/boke/28419716">
            <i class="fa fa-star fa-lg"></i>&nbsp;<b>9,229</b>
          </a>
        </div>
      </div>
      <div class="boke-horizon">
        <a href="/boke/28416534" class="photo">
          <img src="//d2dcan0armyq93.cloudfront.net/photo/odai/400/77e03aa31c356901c66a957ffe8eb097_400.jpg" />
        </a>
        <div class="photo-meta">
          <a href="/user/tbgatm">
            <span class="fa fa-camera" title="photo by"></span>
            GOD☆
          </a>
          &nbsp;
          <a href="/user/tbgatm">
            <span class="fa fa-picture-o" title="odai by"></span>
            GOD☆
          </a>
        </div>
        <div class="text">便</div>
        <div class="rating">
          <a href="/boke/28416534">
            <i class="fa fa-star fa-lg"></i>&nbsp;<b>8,851</b>
          </a>
        </div>
      </div>
      <div class="boke-horizon">
        <a href="/boke/28394029" class="photo">
          <img src="//d2dcan0armyq93.cloudfront.net/photo/odai/400/3ddae7437a53b3b13b2958916ab4b382_400.jpg" />
        </a>
        <div class="photo-meta">
          <a href="/user/leeshang">
            <span class="fa fa-camera" title="photo by"></span>
            ぴょろん
          </a>
          &nbsp;
          <a href="/user/leeshang">
            <span class="fa fa-picture-o" title="odai by"></span>
            ぴょろん
          </a>
        </div>
        <div class="text">何で傘持ってるのっ！気持ちで負けたら晴れるものも晴れないよ！圭は傘なんて持たない</div>
        <div class="rating">
          <a href="/boke/28394029">
            <i class="fa fa-star fa-lg"></i>&nbsp;<b>7,340</b>
          </a>
        </div>
      </div>
      <div class="clear"></div>
      <div class="boke-horizon">
        <a href="/boke/28391107" class="photo">
          <img src="//d2dcan0armyq93.cloudfront.net/photo/odai/400/14fb9e8e1f0cf334caa3e9f66819ff94_400.jpg" />
        </a>
        <div class="photo-meta">
          <a href="/user/patarina">
            <span class="fa fa-camera" title="photo by"></span>
            カラムーチョの中毒性
          </a>
          &nbsp;
          <a href="/user/patarina">
            <span class="fa fa-picture-o" title="odai by"></span>
            カラムーチョの中毒性
          </a>
        </div>
        <div class="text">孫からの電話によると交通事故を起こして至急金が要るらしいので、直ちに電話の発信地を特定、直接助けに行く</div>
        <div class="rating">
          <a href="/boke/28391107">
            <i class="fa fa-star fa-lg"></i>&nbsp;<b>5,466</b>
          </a>
        </div>
      </div>
      <div class="boke-horizon">
        <a href="/boke/28377382" class="photo">
          <img src="//d2dcan0armyq93.cloudfront.net/photo/odai/400/0d2c587b0b5571e1b33ff4f1d90b16b6_400.jpg" />
        </a>
        <div class="photo-meta">
          <a href="/user/dmorning">
            <span class="fa fa-camera" title="photo by"></span>
            週刊Dモーニング公式
          </a>
          &nbsp;
          <a href="/user/dmorning">
            <span class="fa fa-picture-o" title="odai by"></span>
            週刊Dモーニング公式
          </a>
        </div>
        <div class="text">カツラ見ませんでしたか？</div>
        <div class="rating">
          <a href="/boke/28377382">
            <i class="fa fa-star fa-lg"></i>&nbsp;<b>10,205</b>
          </a>
        </div>
      </div>
      <div class="boke-horizon">
        <a href="/boke/28357560" class="photo">
          <img src="//d2dcan0armyq93.cloudfront.net/photo/odai/400/9d68ebeaa9d60aeed1fa13fe81256ee3_400.jpg" />
        </a>
        <div class="photo-meta">
          <a href="/user/49938213@N04">
            <span class="fa fa-camera" title="photo by"></span>
            jasongraham99
          </a>
          &nbsp;
          <a href="/user/zen17">
            <span class="fa fa-picture-o" title="odai by"></span>
            1300ガウス
          </a>
        </div>
        <div class="text">『バｲブレーション柔術』？はっ！そんなバカげたの聞いたことななななななななななななななななななななななななななななななな</div>
        <div class="rating">
          <a href="/boke/28357560">
            <i class="fa fa-star fa-lg"></i>&nbsp;<b>10,153</b>
          </a>
        </div>
      </div>
      <div class="clear"></div>
    <div class="clear"></div>

  <div class="boke">
    <!-- PC_underboke_rectangle2_300_250 -->
    <div id="div-gpt-ad-1393774713987-12" style="width:300px; height:250px; margin:20px auto;">
    <script type="text/javascript">
        googletag.cmd.push(function() {
          googletag.display('div-gpt-ad-1393774713987-12');
        });
    </script>
    </div>
  </div>
</div>

</div>
<!-- / #main-container -->
<div id="right-container">
  <div class="side-ad">
    <!-- PC_side_rectangle1_300_250 -->
    <div id='div-gpt-ad-1393774713987-8' style='width:300px; height:250px;'>
    <script type='text/javascript'>
    googletag.cmd.push(function() {
        googletag.display('div-gpt-ad-1393774713987-8'); });
    </script>
    </div>
  </div>
  <div class="side-widget">
    <a href="/boke/legend" target="_self">
      <img src="/images/legend_banner.png" alt="殿堂入りボケ" width="298" height="60" />
    </a>
  </div>
  <div class="side-widget" style="height:290px;">
    <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fboketejp&amp;width=298&amp;height=290&amp;colorscheme=light&amp;show_faces=true&amp;header=true&amp;stream=false&amp;show_border=false&amp;appId=271488449637184" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:298px; height:290px;" allowTransparency="true"></iframe>
  </div>
  <div class="side-widget">
    <h4>
      <a href="http://bokete-photo.blogspot.jp/" target="_blank" >
        <img src="/images/news_title.png" width="296" height="59" />
      </a>
    </h4>
    <dl>
      <dt><b>01/13</b></dt>
      <dd>
        <a href="http://bokete-photo.blogspot.com/2015/01/pc.html" target="_blank">
          ボケてPC版リニューアル完了のお知らせ
        </a>
      </dd>
      <dt><b>01/09</b></dt>
      <dd>
        <a href="http://bokete-photo.blogspot.com/2015/01/pc113.html" target="_blank">
          【重要】ボケてPC版リニューアルとメンテナンスのお知らせ【1月13日】
        </a>
      </dd>
      <dt><b>01/06</b></dt>
      <dd>
        <a href="http://bokete-photo.blogspot.com/2015/01/ios.html" target="_blank">
          iOS版 不具合についてのアップデートのお知らせ
        </a>
      </dd>
    </dl>
  </div>
  <div class="side-widget">
    <div class="side-widget-title"><i class="fa fa-comment"></i>&nbsp;最近のコメント</div>
    <div class="side-widget-content">
      <ul>
        <li>
          <dl>
            <dt><a href="/user/Haru1998"><img src="//bokete-photo-gamma.s3.amazonaws.com/photo/profile/48/Haru1998_48.jpg?1418685591" class="user-icon"></a></dt>
            <dd><a href="/boke/28609935">上手いし美味いww</a></dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt><a href="/user/nazulion"><img src="//bokete-photo-gamma.s3.amazonaws.com/photo/profile/48/nazulion_48.jpg?1422777134" class="user-icon"></a></dt>
            <dd><a href="/boke/28621036">クッソワロタ</a></dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt><a href="/user/Haru1998"><img src="//bokete-photo-gamma.s3.amazonaws.com/photo/profile/48/Haru1998_48.jpg?1418685591" class="user-icon"></a></dt>
            <dd><a href="/boke/28609118">なぜ落とすのかっ！！</a></dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt><a href="/user/touking"><img src="//d3pb2x7032n52.cloudfront.net/static/images/user_icon.gif" class="user-icon"></a></dt>
            <dd><a href="/boke/28616058">手練れw</a></dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt><a href="/user/orange630"><img src="//bokete-photo-gamma.s3.amazonaws.com/photo/profile/48/orange630_48.jpg?1417346861" class="user-icon"></a></dt>
            <dd><a href="/boke/28609843">ブルートゥスお前もか</a></dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt><a href="/user/kusonemiww"><img src="//bokete-photo-gamma.s3.amazonaws.com/photo/profile/48/kusonemiww_48.jpg?1422751271" class="user-icon"></a></dt>
            <dd><a href="/boke/25997323">(食感も苦手です)</a></dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt><a href="/user/nana1202"><img src="//bokete-photo-gamma.s3.amazonaws.com/photo/profile/48/nana1202_48.jpg?1419688689" class="user-icon"></a></dt>
            <dd><a href="/boke/28609118">下の方に日々のストレスって書いてある！</a></dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt><a href="/user/pudijam"><img src="//d3pb2x7032n52.cloudfront.net/static/images/user_icon.gif" class="user-icon"></a></dt>
            <dd><a href="/boke/28609843">これはひどいww</a></dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt><a href="/user/bantyo2"><img src="//d3pb2x7032n52.cloudfront.net/static/images/user_icon.gif" class="user-icon"></a></dt>
            <dd><a href="/boke/28616481">オシャレは忘れない女の子の鑑</a></dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt><a href="/user/t98takuya"><img src="//bokete-photo-gamma.s3.amazonaws.com/photo/profile/48/t98takuya_48.jpg?1420799693" class="user-icon"></a></dt>
            <dd><a href="/boke/28615281">もちつけw</a></dd>
          </dl>
        </li>
      </ul>
    </div>
  </div>
  <div class="side-widget">
    <div class="side-widget-title"><i class="fa fa-star"></i>&nbsp;最近の評価されている職人</div>
    <div class="side-widget-content">
      <ul>
        <li>
          <dl>
            <dt><a href="/user/juggling"><img src="//bokete-photo-gamma.s3.amazonaws.com/photo/profile/48/juggling_48.jpg?1349879108" class="user-icon"></a></dt>
            <dd><a href="/user/juggling">ロキソニン</a></dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt><a href="/user/yaaaman555"><img src="//d3pb2x7032n52.cloudfront.net/static/images/user_icon.gif" class="user-icon"></a></dt>
            <dd><a href="/user/yaaaman555">まままん</a></dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt><a href="/user/manabu1112"><img src="//bokete-photo-gamma.s3.amazonaws.com/photo/profile/48/manabu1112_48.jpg?1379356907" class="user-icon"></a></dt>
            <dd><a href="/user/manabu1112">ポンコツ</a></dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt><a href="/user/DmR"><img src="//d3pb2x7032n52.cloudfront.net/static/images/user_icon.gif" class="user-icon"></a></dt>
            <dd><a href="/user/DmR">DmR</a></dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt><a href="/user/pokered"><img src="//d3pb2x7032n52.cloudfront.net/static/images/user_icon.gif" class="user-icon"></a></dt>
            <dd><a href="/user/pokered">pokered</a></dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt><a href="/user/m12m28"><img src="//bokete-photo-gamma.s3.amazonaws.com/photo/profile/48/m12m28_48.jpg?1422674346" class="user-icon"></a></dt>
            <dd><a href="/user/m12m28">マモさん</a></dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt><a href="/user/animo0903"><img src="//bokete-photo-gamma.s3.amazonaws.com/photo/profile/48/animo0903_48.jpg?1423022176" class="user-icon"></a></dt>
            <dd><a href="/user/animo0903">あにも</a></dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt><a href="/user/Wawawa12"><img src="//d3pb2x7032n52.cloudfront.net/static/images/user_icon.gif" class="user-icon"></a></dt>
            <dd><a href="/user/Wawawa12">ビタミンC</a></dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt><a href="/user/zyxzyxzyx"><img src="//bokete-photo-gamma.s3.amazonaws.com/photo/profile/48/zyxzyxzyx_48.jpg?1419305896" class="user-icon"></a></dt>
            <dd><a href="/user/zyxzyxzyx">ヨネックス</a></dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt><a href="/user/www310pwww"><img src="//d3pb2x7032n52.cloudfront.net/static/images/user_icon.gif" class="user-icon"></a></dt>
            <dd><a href="/user/www310pwww">オリン○ス</a></dd>
          </dl>
        </li>
      </ul>
    </div>
  </div>
  <div class="side-ad">
    <!-- PC_side_rectangle2_300_250 -->
    <div id='div-gpt-ad-1393774713987-9' style='width:300px; height:250px;'>
    <script type='text/javascript'>
    googletag.cmd.push(function() {
        googletag.display('div-gpt-ad-1393774713987-9'); });
    </script>
    </div>
  </div>
  <div class="side-app">
    <a href="//itunes.apple.com/jp/app/id563446587"><img src="/images/app_banner_apple.png" alt="App Store" width="147" height="51"/></a>
    <a href="//play.google.com/store/apps/details?id=jp.bokete.android"><img src="/images/app_banner_google.png" alt="Google Play" width="147" height="51"/></a>
  </div>
  <div class="clearfix"></div>
</div>
<!-- / #right-container -->

    <div class="clearfix"></div>
  </div>
  <!-- /container -->
  <div id="scroll-top" class="text-right">
    <a scroll-to-top class="btn-primary btn">ページのトップへ戻る</a>
  </div>
</div>

<div id="foot-ad">
  <!-- PC_footer_big_728_90 -->
  <div class="foot-ad" id="div-gpt-ad-1393774713987-0">
      <script type='text/javascript'>
          googletag.cmd.push(function() {
              googletag.display('div-gpt-ad-1393774713987-0'); });
      </script>
  </div>
</div>

<div id="footer">
  <ul class="inline-list">
    <li><a href="http://omoroki.com">運営会社</a></li>
    <li><a href="/about/rule#privacy-policy">プライバシーポリシー</a></li>
    <li><a href="/about/rule">ご利用規約</a></li>
    <li><a href="/about/help">ヘルプ・よくある質問</a></li>
    <li><a href="/about/inquiry">お問合わせ</a></li>
    <li><a href="/about/ad">広告掲載について（ボケてコラボ委員会）</a></li>
  </ul>
  <address>
    Copyright &copy; ボケて（bokete）All rights reserved. 株式会社オモロキ
  </address>
</div>

<!-- XXX -->
<div id="reveal-modal" class="reveal-modal medium"></div>

<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/angular.min.js"></script>
<script type="text/javascript" src="/js/angular-resource.min.js"></script>
<script type="text/javascript" src="/js/angular-block-ui.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="/js/bootbox.min.js"></script>
<script type="text/javascript" src="/js/app.js?000004"></script>

</body>
</html>
